*
body{
    margin: 0;
}

.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
  ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-right: 40px;
 }
  
 .menu_area span{
 font-size: 25px;
 }
 .menu_area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
  li{
 padding: 5px;
 border-radius: 2px;
 transition: transform 0.5s, background-color 0.5s;


  }


 li:hover{
 transform: scale(1.1);
 background-color: aliceblue;
 border-bottom: 2px solid black;
 cursor: pointer;


 }
  .main_content{
    background-image: url(xll.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    height: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .services{
 display: flex;
 flex-wrap: wrap;
 width: 100;
 margin-top: 20px;
 justify-content: space-evenly;
  }
   .services_heading{
    text-align: center;
   }
   .card1,.card2,.card3{
    border: 2px solid black;
    border-radius: 7px;


   }
   .content{
   background-color: aliceblue;
   }
   .card1 img, .card2 img, .card3 img{
    border: 2px solid black;
    text-align: center;
    border-radius: 6px;
    height: 300px;
    width: 300px;

   }
    
  .about_us{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(209, 212, 214);
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .side_img{
    max-width: 500px;
  }
  
  .side_text{
    max-width: 400px;
    text-align: justify;
  }
  .g1,.g2,.g3,.g4,.g5,.g6{
    max-width: 500px;
    cursor: pointer;
    transition: transform 1s;
  }

  .g1:hover,.g2:hover,.g3:hover,.g4:hover,.g5:hover,.g6:hover{
    transform: scale(1.1);
  }
  .gallery{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
   .gallery_text{
    position: absolute;
    width: 100%;

    text-align: center;
   }
   .gallery .images{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
   }

   .gallery img{
    height: 400px;
    width: 400px;
   }
   
   .footer{
    text-align: center;
    background-color: rgb(68, 2, 2) ;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
   }
   
   .address{
    display: flex;
    flex-direction: row;
   }

   /* .card1,.card11,.card2,.card_1,.card_2,.card_3{
    max-width: 200px;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
   } */